[submodule "ShiftEntity"]
	path = ShiftEntity
	url = https://github.com/ShiftSoftware/ShiftEntity
[submodule "ShiftBlazor"]
	path = ShiftBlazor
	url = https://github.com/ShiftSoftware/ShiftBlazor
[submodule "ShiftFrameworkTestingTools"]
	path = ShiftFrameworkTestingTools
	url = https://github.com/ShiftSoftware/ShiftFrameworkTestingTools
[submodule "ToDo"]
	path = ToDo
	url = https://github.com/ShiftSoftware/ToDo
[submodule "TypeAuth"]
	path = TypeAuth
	url = https://github.com/ShiftSoftware/TypeAuth
[submodule "ShiftIdentity"]
	path = ShiftIdentity
	url = https://github.com/ShiftSoftware/ShiftIdentity
